*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: lightblue;
  border-radius: 0px 0px 7px 7px;
  padding: 10px 10px;
  text-align: center;
  position: sticky;
  top: 0;
}
nav ul {
  list-style-type: none;
  background-color: lightseagreen;
  border-radius: 5px;
  padding: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
}
nav ul li {
  background-color: lightblue;
  border-radius: 3px;
}
nav ul li:hover {
  background-color: lightcoral;
  transition: background-color 0.1s ease, border-radius 0.1s ease;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}
nav ul li a:hover {
  color: white;
  transition: color 0.1s ease;
}

footer {
  background-color: lightcoral;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
